@using DemoBlazor.Models.ConsommationAPI
<h4>ListeUtilisateur</h4>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else if (Users is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Firstname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserFromAPI user in Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Firstname</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger">@(string.IsNullOrWhiteSpace(@ErreurMessage) ? "Un probléme est survenu" : @ErreurMessage)</p>
}