@page "/ChangePassword"
@attribute [Authorize]

<h3>UserPasswordChangePage</h3>

@if (!string.IsNullOrWhiteSpace(ResponseMessage))
{
	<p class=@(IsResponseAnError? "text-danger": "text-success")>@ResponseMessage</p>
}

@if (@IsConnected)
{
	<EditForm Model="PasswordChangeModel" OnValidSubmit="SendChangingPasswordRequest">
		<DataAnnotationsValidator />

		<label for="OldPassword">Ancien mot de passe</label>
		<InputText id="OldPassword"
				   type="password"
				   @bind-Value=PasswordChangeModel.OldPassword
				   class="form-control" />
		<ValidationMessage For="@(() => PasswordChangeModel.OldPassword)" />

		<label for="NewPassword">Nouveau mot de passe</label>
		<InputText id="NewPassword"
				   type="password"
				   @bind-Value=PasswordChangeModel.NewPassword
				   class="form-control" />
		<ValidationMessage For="@(() => PasswordChangeModel.NewPassword)" />

		<label for="ConfirmNewPassword">Confirmer le nouveau mot de passe</label>
		<InputText id="ConfirmNewPassword"
				   type="password"
				   @bind-Value=PasswordChangeModel.ConfirmNewPassword
				   class="form-control" />
		<ValidationMessage For="@(() => PasswordChangeModel.ConfirmNewPassword)" />
		<button class="btn btn-success">Valider</button>
	</EditForm>
}


