@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* Utilisation d'un composant comme une balise html *@
@* Avec la possiilité d'indiqué des valeur pour nos paramètres *@
<DemoRouteCustom monParameter="1"></DemoRouteCustom>

